Code_NodeRed/Código_NodeRed.json
[
    {
        "id": "9ccb42466fc9e67c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "271e43167b6751be",
        "type": "change",
        "z": "9ccb42466fc9e67c",
        "name": "Temperatura",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "#",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 280,
        "wires": [
            [
                "0390fb7dce70adb2"
            ]
        ]
    },
    {
        "id": "cdc6b9e5871ce431",
        "type": "ui_gauge",
        "z": "9ccb42466fc9e67c",
        "name": "Sensor Temperatura",
        "group": "76e239c6dc6bd9dc",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor Temperatura PIC",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1100,
        "y": 200,
        "wires": []
    },
    {
        "id": "33a9c830745f25cc",
        "type": "change",
        "z": "9ccb42466fc9e67c",
        "name": "Luz",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "#",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 480,
        "wires": [
            [
                "7de85b781ac70655"
            ]
        ]
    },
    {
        "id": "541bf533fb412d97",
        "type": "ui_gauge",
        "z": "9ccb42466fc9e67c",
        "name": "",
        "group": "76e239c6dc6bd9dc",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor Luminosidade PIC",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1090,
        "y": 500,
        "wires": []
    },
    {
        "id": "81d4ca6eb461fe86",
        "type": "aedes broker",
        "z": "9ccb42466fc9e67c",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 150,
        "y": 800,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "6ef437bb30d613aa",
        "type": "e-mail",
        "z": "9ccb42466fc9e67c",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "augustodelara3@gmail.com",
        "dname": "",
        "x": 1260,
        "y": 360,
        "wires": []
    },
    {
        "id": "974df8eb64508f9e",
        "type": "function",
        "z": "9ccb42466fc9e67c",
        "name": "",
        "func": "if(msg.payload >= 28){\n    msg.payload=\"Temperature too high: \" + msg.payload;\n    return [msg,null];\n}\nelse{\n    msg.payload=\"Temperature normal: \" + msg.payload;\n    return[null,msg];\n    \n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 360,
        "wires": [
            [
                "6ef437bb30d613aa"
            ],
            []
        ]
    },
    {
        "id": "33d0b2f27bce34c2",
        "type": "exec",
        "z": "9ccb42466fc9e67c",
        "command": "sudo sh -c 'echo 0 > /sys/class/leds/led0/brightness'",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Off Led Internal",
        "x": 720,
        "y": 800,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "d11c612c0b03bc58",
        "type": "ui_button",
        "z": "9ccb42466fc9e67c",
        "name": "Off LED",
        "group": "cabb72d520d39169",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 460,
        "y": 720,
        "wires": [
            [
                "33d0b2f27bce34c2"
            ]
        ]
    },
    {
        "id": "6386f738a920e6be",
        "type": "mqtt in",
        "z": "9ccb42466fc9e67c",
        "name": "",
        "topic": "topico/raspLed",
        "qos": "2",
        "datatype": "auto",
        "broker": "fd108285cb8d09a1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 900,
        "wires": [
            [
                "e066fd0c62b45765",
                "1c3ba3b3daaea869",
                "c337acc3193baa96"
            ]
        ]
    },
    {
        "id": "4c20261a5019fe9c",
        "type": "mqtt out",
        "z": "9ccb42466fc9e67c",
        "name": "",
        "topic": "topico/raspLed",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fd108285cb8d09a1",
        "x": 140,
        "y": 1000,
        "wires": []
    },
    {
        "id": "e066fd0c62b45765",
        "type": "debug",
        "z": "9ccb42466fc9e67c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 900,
        "wires": []
    },
    {
        "id": "1c3ba3b3daaea869",
        "type": "function",
        "z": "9ccb42466fc9e67c",
        "name": "",
        "func": "if(msg.payload == \"OFF\"){\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 800,
        "wires": [
            [
                "33d0b2f27bce34c2"
            ]
        ]
    },
    {
        "id": "c337acc3193baa96",
        "type": "function",
        "z": "9ccb42466fc9e67c",
        "name": "",
        "func": "if(msg.payload == \"ON\"){\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1020,
        "wires": [
            [
                "4cef111277e068c5"
            ]
        ]
    },
    {
        "id": "4cef111277e068c5",
        "type": "exec",
        "z": "9ccb42466fc9e67c",
        "command": "sudo sh -c 'echo 1 > /sys/class/leds/led0/brightness'",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Power LED internal",
        "x": 710,
        "y": 1020,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "ba1ba5c3476e41cb",
        "type": "ui_button",
        "z": "9ccb42466fc9e67c",
        "name": "On LED",
        "group": "cabb72d520d39169",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 460,
        "y": 1080,
        "wires": [
            [
                "4cef111277e068c5"
            ]
        ]
    },
    {
        "id": "de04285324feb5b7",
        "type": "function",
        "z": "9ccb42466fc9e67c",
        "name": "",
        "func": "if(msg.payload == \"ON\"){\nmsg.payload = {};\nvar temp = global.get('temperatura');\nvar lum = global.get('luminosidade');\nvar hum = global.get('humidade');\nvar temp2 = global.get('tempEsp');\n\nmsg.payload.temperature = temp;\nmsg.payload.lumi = lum;\nmsg.payload.hum = hum;\nmsg.payload.tempEsp = temp2;\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1300,
        "wires": [
            [
                "e77632386293a907"
            ]
        ]
    },
    {
        "id": "3783e76171d3e26a",
        "type": "debug",
        "z": "9ccb42466fc9e67c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 1300,
        "wires": []
    },
    {
        "id": "e77632386293a907",
        "type": "http request",
        "z": "9ccb42466fc9e67c",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://docs.google.com/forms/d/e/1FAIpQLSc9Jpbx3n-H8gOhj_ULpdvFXhv4cc0x4hPVauqocFG5G4Zw_A/formResponse?usp=pp_url&entry.1237479476={{payload.temperature}}&entry.900887157={{payload.lumi}}&entry.1238241947={{payload.hum}}&entry.1520359710={{payload.tempEsp}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "credentials": {},
        "x": 790,
        "y": 1300,
        "wires": [
            [
                "3783e76171d3e26a"
            ]
        ]
    },
    {
        "id": "04a7e926437d25a9",
        "type": "mqtt out",
        "z": "9ccb42466fc9e67c",
        "name": "",
        "topic": "topico/saveData",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fd108285cb8d09a1",
        "x": 140,
        "y": 1340,
        "wires": []
    },
    {
        "id": "9b2d85d275f8aabd",
        "type": "mqtt in",
        "z": "9ccb42466fc9e67c",
        "name": "",
        "topic": "topico/saveData",
        "qos": "2",
        "datatype": "auto",
        "broker": "fd108285cb8d09a1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 1220,
        "wires": [
            [
                "89778dc96b4dc249",
                "e5d8fbbee77704aa"
            ]
        ]
    },
    {
        "id": "89778dc96b4dc249",
        "type": "debug",
        "z": "9ccb42466fc9e67c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 1200,
        "wires": []
    },
    {
        "id": "e5d8fbbee77704aa",
        "type": "trigger",
        "z": "9ccb42466fc9e67c",
        "name": "",
        "op1": "ON",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "OFF",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 420,
        "y": 1300,
        "wires": [
            [
                "de04285324feb5b7"
            ]
        ]
    },
    {
        "id": "058eb2823e14deaa",
        "type": "function",
        "z": "9ccb42466fc9e67c",
        "name": "",
        "func": "\nglobal.set('temperatura',msg.payload);\nmsg.playload = global.get('temperatura');\nreturn msg;  \n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "392a367dcadf17be",
        "type": "function",
        "z": "9ccb42466fc9e67c",
        "name": "",
        "func": "global.set('luminosidade',msg.payload);\nmsg.playload = global.get('luminosidade');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "c9bf5f9661ac2294",
        "type": "function",
        "z": "9ccb42466fc9e67c",
        "name": "",
        "func": "global.set('humidade',msg.payload);\nmsg.playload = global.get('humidade');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1660,
        "wires": [
            [
                "51d77b7beba1bcf4"
            ]
        ]
    },
    {
        "id": "1c24a468577b8691",
        "type": "serial in",
        "z": "9ccb42466fc9e67c",
        "name": "",
        "serial": "90cd34bedb94edbb",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "16e69b8cb081f4f8",
                "750b823ebd6bce00"
            ]
        ]
    },
    {
        "id": "298350d4de8f23ee",
        "type": "mqtt out",
        "z": "9ccb42466fc9e67c",
        "name": "",
        "topic": "topico/hum",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fd108285cb8d09a1",
        "x": 130,
        "y": 1480,
        "wires": []
    },
    {
        "id": "28ebd173e0e838bc",
        "type": "mqtt in",
        "z": "9ccb42466fc9e67c",
        "name": "",
        "topic": "topico/hum",
        "qos": "2",
        "datatype": "auto",
        "broker": "fd108285cb8d09a1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 1600,
        "wires": [
            [
                "3b9b7acbdac9835a",
                "c9bf5f9661ac2294"
            ]
        ]
    },
    {
        "id": "3b9b7acbdac9835a",
        "type": "debug",
        "z": "9ccb42466fc9e67c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 1560,
        "wires": []
    },
    {
        "id": "51d77b7beba1bcf4",
        "type": "ui_gauge",
        "z": "9ccb42466fc9e67c",
        "name": "",
        "group": "97224aa13bfe4684",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidade DHT",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 580,
        "y": 1660,
        "wires": []
    },
    {
        "id": "0390fb7dce70adb2",
        "type": "function",
        "z": "9ccb42466fc9e67c",
        "name": "",
        "func": "if(msg.payload >= 23){\n    if(msg.payload < 35)\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 240,
        "wires": [
            [
                "cdc6b9e5871ce431",
                "974df8eb64508f9e",
                "058eb2823e14deaa"
            ]
        ]
    },
    {
        "id": "643b25c8983b419d",
        "type": "function",
        "z": "9ccb42466fc9e67c",
        "name": "",
        "func": "global.set('tempEsp',msg.payload);\nmsg.playload = global.get('tempEsp');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 2040,
        "wires": [
            [
                "fd2402c2bb944bff"
            ]
        ]
    },
    {
        "id": "b24ca57abd788cb2",
        "type": "mqtt out",
        "z": "9ccb42466fc9e67c",
        "name": "",
        "topic": "topico/temperatura_dht",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fd108285cb8d09a1",
        "x": 170,
        "y": 1840,
        "wires": []
    },
    {
        "id": "4ee075b6ef14f55f",
        "type": "mqtt in",
        "z": "9ccb42466fc9e67c",
        "name": "",
        "topic": "topico/temperatura_dht",
        "qos": "2",
        "datatype": "auto",
        "broker": "fd108285cb8d09a1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1960,
        "wires": [
            [
                "b09ce3bb578f0c8c",
                "643b25c8983b419d"
            ]
        ]
    },
    {
        "id": "b09ce3bb578f0c8c",
        "type": "debug",
        "z": "9ccb42466fc9e67c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 1920,
        "wires": []
    },
    {
        "id": "fd2402c2bb944bff",
        "type": "ui_gauge",
        "z": "9ccb42466fc9e67c",
        "name": "",
        "group": "97224aa13bfe4684",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura DHT",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 650,
        "y": 2040,
        "wires": []
    },
    {
        "id": "7de85b781ac70655",
        "type": "function",
        "z": "9ccb42466fc9e67c",
        "name": "",
        "func": "if(msg.payload >= 40 && msg.payload <= 1000 ||\n(msg.payload[0] == \"*\" && msg.payload[4] == \"*\") ||\n(msg.payload[4] == \"#\")\n){\n    return msg;\n    \n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 500,
        "wires": [
            [
                "541bf533fb412d97",
                "392a367dcadf17be"
            ]
        ]
    },
    {
        "id": "16e69b8cb081f4f8",
        "type": "function",
        "z": "9ccb42466fc9e67c",
        "name": "",
        "func": "if(msg.payload[0] == \"#\" || \n(msg.payload[0] == \"#\" && msg.payload[3] == \"*\")){\nreturn msg;\n}\n\n",
        "outputs": 1,
        "noerr": 2,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 280,
        "wires": [
            [
                "271e43167b6751be"
            ]
        ]
    },
    {
        "id": "750b823ebd6bce00",
        "type": "function",
        "z": "9ccb42466fc9e67c",
        "name": "",
        "func": "if(msg.payload[3] == \"#\" || msg.payload >= 100 || \n(msg.payload[0] == \"*\" && msg.payload[4] == \"#\")){\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 480,
        "wires": [
            [
                "33a9c830745f25cc"
            ]
        ]
    },
    {
        "id": "76e239c6dc6bd9dc",
        "type": "ui_group",
        "name": "PIC SENSORES",
        "tab": "c63519b29f678c3c",
        "order": 1,
        "disp": true,
        "width": "16",
        "collapse": true,
        "className": ""
    },
    {
        "id": "cabb72d520d39169",
        "type": "ui_group",
        "name": "Default",
        "tab": "d4e70d5b452dbe01",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fd108285cb8d09a1",
        "type": "mqtt-broker",
        "name": "teste local",
        "broker": "192.168.1.102",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "90cd34bedb94edbb",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "0",
        "bin": "false",
        "out": "time",
        "addchar": "",
        "responsetimeout": "1000"
    },
    {
        "id": "97224aa13bfe4684",
        "type": "ui_group",
        "name": "ESP32 - DHT11",
        "tab": "c63519b29f678c3c",
        "order": 1,
        "disp": true,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c63519b29f678c3c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d4e70d5b452dbe01",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]